## 1. Google과 연결

In [49]:
from pytrends.request import TrendReq
import pandas as pd

# hl = host 언어, tz = timezone
pytrends = TrendReq(hl='kr', tz=360)

In [69]:
# https://pypi.org/project/pytrends/#interest-over-time
kw_list = "탑건"
pytrends.build_payload([kw_list], cat=0, timeframe='today 5-y', geo='KR', gprop='')

In [70]:
trend_data = pytrends.interest_over_time()

In [71]:
trend_data.drop('isPartial', axis=1, inplace=True)

In [75]:
trend_data

             탑건
date
2017-07-23    1
2017-07-30    0
2017-08-06    1
2017-08-13    0
2017-08-20    1
...         ...
2022-06-19   78
2022-06-26  100
2022-07-03   83
2022-07-10   68
2022-07-17   78

[261 rows x 1 columns]

In [74]:
trend_data[kw_list][-1]

78