In [7]:
import pandas as pd

In [8]:
data = pd.read_excel('/Users/dongyokim/Downloads/ICAO.xlsx')

In [9]:
data2 = pd.read_excel('/Users/dongyokim/Downloads/11. 기종별 배출계수.xlsx')

In [10]:
data

,항공사,제조사,기종명,ICAO,좌석수,길이(m),날개 폭(m),높이(m),최대운항거리(km),순항속도(km/h),IATA type code(기종1),Model(기종3)
0,대한항공,Boeing,B787-9,B789,269,62.80,60.10,17.00,12592,912,789,Boeing 787-9
1,대한항공,Boeing,B787-9,B789,269,62.80,60.10,17.00,12592,912,789,Boeing 787-9
2,대한항공,Boeing,B787-9,B789,269,62.80,60.10,17.00,12592,912,789,Boeing 787-9
3,대한항공,Boeing,B787-9,B789,269,62.80,60.10,17.00,12592,912,789,Boeing 787-9
4,대한항공,Boeing,B787-9,B789,269,62.80,60.10,17.00,12592,912,789,Boeing 787-9
...,...,...,...,...,...,...,...,...,...,...,...,...
184,플라이강원,Boeing,B737-800,B738,189,39.47,35.79,12.55,5452,836,738,Boeing 737-800
185,플라이강원,Boeing,B737-800,B738,189,39.47,35.79,12.55,5452,836,738,Boeing 737-800
186,플라이강원,Boeing,B737-800,B738,189,39.47,35.79,12.55,5452,836,738,Boeing 737-800
187,플라이강원,Boeing,B737-800,B738,189,39.47,35.79,12.55,5452,836,738,Boeing 737-800
188,플라이강원,Boeing,B737-800,B738,189,39.47,35.79,12.55,5452,836,738,Boeing 737-800

In [11]:
data2

,ICAO,CO2,CH4,N2O,fuel Consumption (kg/LTO),EF_Cruise_CO2(kg/t of fuel),EF_Cruise_CH4(kg/t of fuel),EF_Cruise_N2O(kg/t of fuel)
0,A300,5.470,1.00,0.20,1.73,3150,0,0.1
1,A310,4.900,0.40,0.20,1.55,3150,0,0.1
2,A320,2.560,0.04,0.10,810.00,3150,0,0.1
3,BAC1-11,2.150,6.80,0.10,680.00,3150,0,0.1
4,BAe 146,1.800,0.16,0.10,570.00,3150,0,0.1
5,B707,5.880,9.80,0.20,1.86,3150,0,0.1
6,B727,4.455,0.30,0.10,1.41,3150,0,0.1
7,B727,3.980,0.70,0.10,1.26,3150,0,0.1
8,B737-200,2.905,0.20,0.10,920.00,3150,0,0.1
9,B737,2.750,0.50,0.10,870.00,3150,0,0.1
10,B737-400,2.625,0.08,0.10,830.00,3150,0,0.1
11,B747-200,10.680,3.60,0.30,3.38,3150,0,0.1
12,B747,10.145,4.80,0.30,3.21,3150,0,0.1
13,B747-400,10.710,1.20,0.30,3.39,3150,0,0.1
14,B757,4.110,0.10,0.10,1.30,3150,0,0.1
15,B767,5.405,0.40,0.20,1.71,3150,0,0.1
16,Caravelle,2.655,0.50,0.10,840.00,3150,0,0.1
17,DC8,5.890,5.80,0.20,1.86,3150,0,0.1
18,DC9,2.780,0.80,0.10,880.00,3150,0,0.1
19,DC10,7.460,2.10,0.20,2.36,3150,0,0.1
20,f28,2.115,5.50,0.10,670.00,3150,0,0.1
21,f100,2.340,0.20,0.10,740.00,3150,0,0.1
22,L1011,8.025,7.30,0.30,2.54,3150,0,0.1
23,SAAB 340,945.000,1.40,0.03,300.00,3150,0,0.1
24,Tupolev 154,6.920,8.30,0.20,2.19,3150,0,0.1
25,Concorde,20.290,10.70,0.60,6.42,3150,0,0.1
26,GAjet,2.150,0.10,0.10,680.00,3150,0,0.1

In [15]:
total_data = pd.merge(data, data2, how='left', on='ICAO')

In [17]:
total_data.to_excel('조인 데이터셋(배출계수).xlsx')