In [1]:
import pandas as pd

In [2]:



data_1_1 = pd.read_excel('/Users/dongyokim/main/jupyter/2022:2/Movie_Project/항공데이터/스케줄 데이터/1. 2018년 항공 스케줄 데이터(출발).xlsx')
data_1_2 = pd.read_excel('/Users/dongyokim/main/jupyter/2022:2/Movie_Project/항공데이터/스케줄 데이터/1. 2019년 항공 스케줄 데이터(출발).xlsx')
data_1_3 = pd.read_excel('/Users/dongyokim/main/jupyter/2022:2/Movie_Project/항공데이터/스케줄 데이터/1. 2020년 항공 스케줄 데이터(출발).xlsx')
data_1_4 = pd.read_excel('/Users/dongyokim/main/jupyter/2022:2/Movie_Project/항공데이터/스케줄 데이터/1. 2021년 항공 스케줄 데이터(출발).xlsx')
data_1_5 = pd.read_excel('/Users/dongyokim/main/jupyter/2022:2/Movie_Project/항공데이터/스케줄 데이터/1. 2022년 항공 스케줄 데이터(출발).xlsx')


total_data_1 = [data_1_1, data_1_2, data_1_3, data_1_4, data_1_5]


data_2_1 = pd.read_excel('/Users/dongyokim/main/jupyter/2022:2/Movie_Project/항공데이터/스케줄 데이터/1. 2018년 항공 스케줄 데이터(도착).xlsx')
data_2_2 = pd.read_excel('/Users/dongyokim/main/jupyter/2022:2/Movie_Project/항공데이터/스케줄 데이터/1. 2019년 항공 스케줄 데이터(도착).xlsx')
data_2_3 = pd.read_excel('/Users/dongyokim/main/jupyter/2022:2/Movie_Project/항공데이터/스케줄 데이터/1. 2020년 항공 스케줄 데이터(도착).xlsx')
data_2_4 = pd.read_excel('/Users/dongyokim/main/jupyter/2022:2/Movie_Project/항공데이터/스케줄 데이터/1. 2021년 항공 스케줄 데이터(도착).xlsx')
data_2_5 = pd.read_excel('/Users/dongyokim/main/jupyter/2022:2/Movie_Project/항공데이터/스케줄 데이터/1. 2022년 항공 스케줄 데이터(도착).xlsx')


total_data_2 = [data_2_1, data_2_2, data_2_3, data_2_4, data_2_5]

In [6]:
for data in total_data_1:
    data.drop_duplicates(keep='first', ignore_index=True, inplace=True)

for data in total_data_2:
    data.drop_duplicates(keep='first', ignore_index=True, inplace=True)

In [14]:
year = 2018
for data in total_data_1:
    data.to_excel('1. {}년 항공 스케줄 데이터(출발)_중복제거.xlsx'.format(year))
    year += 1

In [15]:
year = 2018
for data in total_data_2:
    data.to_excel('1. {}년 항공 스케줄 데이터(도착)_중복제거.xlsx'.format(year))
    year += 1

In [17]:
data_1_1.sort_values(by='운항일자', ascending=False, inplace=True)

In [18]:
data_1_1

       운항편명   출발공항 도착공항 출발예정시간 도착예정시간        운항일자
404  KE1231  서울/김포   제주  18:40  19:50  2018.12.12
403  KE1223  서울/김포   제주  14:25  15:35  2018.12.12
402  KE1223  서울/김포   제주  14:25  15:35  2018.12.11
401  KE1231  서울/김포   제주  18:40  19:50  2018.12.10
400  KE1209  서울/김포   제주  09:40  10:50  2018.12.05
..      ...    ...  ...    ...    ...         ...
3    KE1245  서울/김포   제주  16:00  17:10  2018.06.01
1    KE1211  서울/김포   제주  09:15  10:25  2018.06.01
5    KE1253  서울/김포   제주  18:20  19:30  2018.06.01
6    OZ8991  서울/김포   제주  19:25  20:40  2018.06.01
0    KE1207  서울/김포   제주  08:30  09:40  2018.06.01

[405 rows x 6 columns]