In [1]:
from PyNaver import Datalab

In [2]:
# API 인증 정보 설정
client_id = "bfyYjqp9aeVgez9TWrQm"
client_secret = "pirblBFcyM"

# 네이버 데이터랩 API 세션 정의
DL = Datalab(client_id, client_secret)

In [3]:
# 검색어 그룹 세트 정의하기
keyword_group_set = {
    'keyword_group_1': {'groupName': "애플", 'keywords': ["애플","Apple","AAPL"]},
    'keyword_group_2': {'groupName': "아마존", 'keywords': ["아마존","Amazon","AMZN"]},
    'keyword_group_3': {'groupName': "구글", 'keywords': ["구글","Google","GOOGL"]},
    'keyword_group_4': {'groupName': "테슬라", 'keywords': ["테슬라","Tesla","TSLA"]},
    'keyword_group_5': {'groupName': "페이스북", 'keywords': ["페이스북","Facebook","FB"]}
}

In [4]:
# 요청 파라미터 설정
startDate = "2021-01-01"
endDate = "2021-12-31"
timeUnit = 'date'
device = ''
ages = []
gender = ''

# 검색어 그룹 세트 등록하기
DL.add_keyword_groups(keyword_group_set['keyword_group_1'])
DL.add_keyword_groups(keyword_group_set['keyword_group_2'])
DL.add_keyword_groups(keyword_group_set['keyword_group_3'])
DL.add_keyword_groups(keyword_group_set['keyword_group_4'])
DL.add_keyword_groups(keyword_group_set['keyword_group_5'])

# 결과 데이터를 DataFrame으로 조회하기
df = DL.get_data(startDate, endDate, timeUnit, device, ages, gender)
df

            날짜        애플      아마존        구글       테슬라      페이스북
0   2021-01-01  10.22685  2.71217  81.27609   6.30002  38.51378
1   2021-01-02  10.28149  3.14536  85.91210   5.64883  34.69233
2   2021-01-03  10.23001  3.13477  91.73209   6.96682  34.85066
3   2021-01-04  13.48651  3.64769  97.28281   9.36343  36.27848
4   2021-01-05  15.03680  3.70047  97.39134  12.24063  35.20878
..         ...       ...      ...       ...       ...       ...
360 2021-12-27   7.39872  2.34624  81.16979   4.71256  21.63808
361 2021-12-28   8.32198  2.56219  80.33258   6.80532  21.85681
362 2021-12-29   8.02667  2.82813  80.21513   6.52192  21.60685
363 2021-12-30   7.69216  2.42225  77.53213   5.97313  21.34798
364 2021-12-31   6.75645  2.10874  71.91340   5.12922  21.17217

[365 rows x 6 columns]