In [1]:
pip install pykrx

Collecting pykrx
  Downloading pykrx-1.0.38-py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 2.2 MB/s
Requirement already satisfied: requests in /Users/dongyokim/miniforge3/envs/crawl/lib/python3.9/site-packages (from pykrx) (2.26.0)
Collecting datetime
  Downloading DateTime-4.7-py2.py3-none-any.whl (52 kB)
     |████████████████████████████████| 52 kB 2.8 MB/s
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 15.7 MB/s
Collecting deprecated
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: numpy in /Users/dongyokim/miniforge3/envs/crawl/lib/python3.9/site-packages (from pykrx) (1.22.0)
Requirement already satisfied: pandas in /Users/dongyokim/miniforge3/envs/crawl/lib/python3.9/site-packages (from pykrx) (1.3.5)
Requirement already satisfied: pytz in /Users/dongyokim/miniforge3/envs/crawl/lib/python3.9/site-packages (from datetime->pykrx) (2021.3)
Collecting zope.interface
  Downloading zope.interface-5.5.0.tar.gz (253 kB)
     |████████████████████████████████| 253 kB 25.2 MB/s
  Preparing metadata (setup.py) ... done
Collecting wrapt<2,>=1.10
  Downloading wrapt-1.14.1-cp39-cp39-macosx_11_0_arm64.whl (35 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/dongyokim/miniforge3/envs/crawl/lib/python3.9/site-packages (from pandas->pykrx) (2.8.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/dongyokim/miniforge3/envs/crawl/lib/python3.9/site-packages (from requests->pykrx) (2.0.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/dongyokim/miniforge3/envs/crawl/lib/python3.9/site-packages (from requests->pykrx) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /Users/dongyokim/miniforge3/envs/crawl/lib/python3.9/site-packages (from requests->pykrx) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /Users/dongyokim/miniforge3/envs/crawl/lib/python3.9/site-packages (from requests->pykrx) (3.1)
Requirement already satisfied: six>=1.5 in /Users/dongyokim/miniforge3/envs/crawl/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas->pykrx) (1.16.0)
Requirement already satisfied: setuptools in /Users/dongyokim/miniforge3/envs/crawl/lib/python3.9/site-packages (from zope.interface->datetime->pykrx) (59.4.0)
Building wheels for collected packages: zope.interface
  Building wheel for zope.interface (setup.py) ... done
  Created wheel for zope.interface: filename=zope.interface-5.5.0-cp39-cp39-macosx_11_0_arm64.whl size=209154 sha256=0c0b92b3b8882e28a0be1b10fb88956cf91bcd06484f8f3a6dc411edc46ce08e
  Stored in directory: /Users/dongyokim/Library/Caches/pip/wheels/80/9f/67/ba81f36d08624e22d320acb2835964503e38093c97e7bbbc40
Successfully built zope.interface
Installing collected packages: zope.interface, wrapt, xlrd, deprecated, datetime, pykrx
Successfully installed datetime-4.7 deprecated-1.2.13 pykrx-1.0.38 wrapt-1.14.1 xlrd-2.0.1 zope.interface-5.5.0
Note: you may need to restart the kernel to use updated packages.

In [17]:
from pykrx import stock

In [18]:
data = stock.get_market_ohlcv_by_date('20180101', '20220630', '079160')

In [19]:
data

               시가     고가     저가     종가     거래량
날짜
2018-01-02  68665  69663  68303  68575  159999
2018-01-03  66579  66761  62769  64312  694345
2018-01-04  65491  66035  64584  64947  296912
2018-01-05  65400  65400  64039  65400  147150
2018-01-08  66035  66035  64584  64856  112554
...           ...    ...    ...    ...     ...
2022-06-24  20600  21900  20600  21750  332167
2022-06-27  22150  23400  22150  23050  336526
2022-06-28  22900  23000  22500  22800  174164
2022-06-29  22350  23100  22350  22950  126925
2022-06-30  23100  23650  22750  23250  208202

[1107 rows x 5 columns]

In [20]:
data = data.reset_index()

In [21]:
data['그룹'] = data['날짜'].apply(lambda x: str(x.year) + '/' +  str(x.month))

In [22]:
data

             날짜     시가     고가     저가     종가     거래량      그룹
0    2018-01-02  68665  69663  68303  68575  159999  2018/1
1    2018-01-03  66579  66761  62769  64312  694345  2018/1
2    2018-01-04  65491  66035  64584  64947  296912  2018/1
3    2018-01-05  65400  65400  64039  65400  147150  2018/1
4    2018-01-08  66035  66035  64584  64856  112554  2018/1
...         ...    ...    ...    ...    ...     ...     ...
1102 2022-06-24  20600  21900  20600  21750  332167  2022/6
1103 2022-06-27  22150  23400  22150  23050  336526  2022/6
1104 2022-06-28  22900  23000  22500  22800  174164  2022/6
1105 2022-06-29  22350  23100  22350  22950  126925  2022/6
1106 2022-06-30  23100  23650  22750  23250  208202  2022/6

[1107 rows x 7 columns]

In [24]:
group_data = data.groupby('그룹').mean()

In [26]:
group_data.to_excel('CGV 월별 평균 주가 데이터.xlsx')